#menu{
	background: #2D454F url("../images/menuright.gif") top right no-repeat;
}
#current {
	background: #2D454F url("../images/menuhighlight.gif") bottom center no-repeat;
	color:#fff;
}
.menu_list{
	border:none;
	border:0px;
	margin:0px 0 0 0;
	padding:0px;
	font-family:"Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	background: #2D454F url("../images/menuleft.gif") top left no-repeat;
	

	}
.menu_list ul{
	background:#FF0000 url("../images/menubg.gif") repeat-x;
	height:41px;
	list-style:none;
	margin:0 0px 0 6px;
	padding:0;
	}
	.menu_list li{
		float:left;
		padding:4px 0 0 0 ;
		background:transparent url("../images/seperator.gif") top right no-repeat;
		}
	.menu_list li a{
		
		color:#fff;
		float:left;
		display:block;
		font-weight:normal;
		line-height:35px;
		padding:0px 10px;
		text-align:center;
		text-decoration:none;
		}
	
		.menu_list li a:hover, .menu_list ul li:hover a{
			background: transparent url("../images/menuhighlight.gif") bottom center no-repeat;
			color:#F4F1CB;
			height:37px;
		
			}
	.menu_list li ul{
		background:#144C81;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.menu_list li:hover ul{
		display:block;
		
		}
	.menu_list li li {
		background:url('../images/sub_sep.gif') bottom left no-repeat;
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:225px;
		}
	.menu_list li:hover li a{
		background:none;
		
		}
	.menu_list li ul a{
		display:block;
		height:35px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.menu_list li ul a:hover, .menu_list li ul li:hover a{
			background:#4788C6 url('../images/hover_sub.gif') center left no-repeat;
			border:0px;
			color:#ffffff;
			text-decoration:none;
			}
	.menu_list p{
		clear:left;
		}	

		