* {
    margin:0px;
    outline:0px;
}

body
{
    font: 60%/1.5em Verdana, Tahoma, arial, sans-serif;
    color: black; 
    width: 100%;
    background:#DEDEDE url('../images/bg.png');
    margin: 0px 1%;
    padding: 10px 10px;
    width: 97%;
    min-width: 1200px;
}

#body
{
    padding: 20px 20px 20px 20px;
    background-position: center;
    width: 1000px;
    background: white;
    min-height: 600px;
    margin: 30px auto;
    float: none;
    clear: both;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 2px #666;
    -webkit-box-shadow: 0px 0px 2px #666;
}
#menu_space
{
    height: 10px;
    clear: both;
}

#Logo
{
    width:600px;
    height:40px;
    float: left;
}
#fw_header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , whiteSmoke 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border-color: #D5D5D5;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 white inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#fw_account {
    background: url("../images/account.png") no-repeat scroll -30px 0 transparent;
    display: inline-block;
    font-size: 11px;
    height: 27px;
    left: 60%;
    margin-left: 300px;
    padding: 1px 0;
    position: fixed;
    text-align: center;
    top: 51px;
    z-index: 10;
}

#center{ margin: auto; width: 95%; }


#fw_account div.account_left {
    background: url("../images/account.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    left: -25px;
    position: absolute;
    top: 0;
    width: 25px;
}


#fw_account div.account_right {
    background: url("../images/account.png") no-repeat scroll -275px 0 transparent;
    height: 30px;
    position: absolute;
    right: -35px;
    top: 0;
    width: 35px;
}

a#company-branding img { height: 39px; float: left; }	
a#company-branding-small img { height: 30px; }

#login
{
    padding: 20px 20px; 
    width: 150px;
    float: right;
    color: black;


}

#content 
{
    padding: 10px 10px;
    margin: auto;
    font-size: 11pt;
    min-height: 500px;
}

#promotion
{
    background-color:Orange;
    height: 200px; 
    width: 100%;
    /*
    background: url(/content/Images/home-showcase.png) no-repeat;
    */	
}

#content-section
{
    float: left;
    padding-top: 20px;
    min-width: 805px;	
    width: 100%;
}

#main
{
    min-height: 400px;
    max-width: 75%;
    float: left;
    padding: 0 0 15px 15px;
}

#main ul
{
    list-style-type: square;
    margin-left: 25px;
    font-size: 1.4em;
}

#main ul#album-list
{
    list-style: none;
    font-size: 1.2em;
    margin-left: 0px;
}

div.button-appearance{
    appearance:button;
    -moz-appearance:button; /* Firefox */
    -webkit-appearance:button; /* Safari and Chrome */
}

.button, input[type=submit], input[type=button]
{
    padding: 3px 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}
a.button{
    clear: both;
    background-color: #ECECEC;
    border: 1px solid #CACACA;
    color: #3C3C3D;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    overflow: visible;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    white-space: nowrap;
    padding: 3px 3px;
}

#footer
{
    background-color: #111111;
    bottom: 0;
    height: 20px;
    left: 0;
    margin-right: 10px;
    padding: 10px;
    position: fixed;
    width: 100%;
    color: white;

}




/******************** Top Navigation ************************/
ul#navlist
{
    float: right;
}

ul#navlist li
{
    display: inline;
}

ul#navlist li a
{
    border-left: 1px dotted #8A8575;
    padding: 10px;
    margin-top: 10px;
    color: #8A8575;
    text-decoration: none;
    float: left;
}

ul#navlist li:first-child a
{
    border: none;
}

ul#navlist li a:hover
{
    color: #F6855E;
}

/********************* End top navigation ***************************/

p
{
    margin-bottom: 15px;
    margin-top: 0px;
}

h1
{
    margin: 5px 5px;
    font-weight: bold;
    font-size: 16pt;
}

h2{
    margin: 5px 5px;
    font-weight: bold;
    font-size: 14pt;
}

h3{
    margin: 5px 5px;
    font-weight: bold;
    font-size: 12pt;
}

h3 em
{
    color: #5E5B54;
}
a img 
{
    border-color: transparent;
}


a:link
{
    color: green;
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

a:hover
{
    color: black;
    text-decoration: none;
}

a:active
{
    text-decoration: none;
}






/***************************** sidebar navigation ****************************/

#categories
{
    font-family: Constantia, Georgia, serif;
    font-size: 1.6em;
}

#categories ul
{
    list-style-type: none;
    margin-left: 20px;
}

#categories a:link, #categories a:visited
{
    color: #9B9993;
    text-decoration: none;
}

#categories a:hover, #categories h3 em
{
    color: #F46739;
}

div#album-details
{
    margin-left: 50px; 
    width: 250px;
    text-align: center;
}

div#album-details p
{
    margin-bottom: 5px;
    color: #5e5b54;
    font-weight: bold;
    text-align: left;
}

div#album-details p em
{
    padding-left: 80px;
    width: 100px;
    color: #9b9993;
}

/* Form styles */

fieldset
{
    padding: 10px;
    width: 800px;
    border: 1px solid #8A8575;
}


div.editor-field
{
    margin-bottom: 10px;
}

div.editor-label label
{
    padding-top: 15px;
}


input[type=password], textarea
{
    border: 1px solid #8A8575;
    height: 25px;
    width: 250px;
}

textarea
{
    border: 1px solid #8A8575;
    height: 50px;
    width: 250px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 15px;
}

form table tr td select
{
    border: 1px solid #8A8575;
    height: 25px;
    max-width: 250px;
    min-width: 200px;
}

form table:not(.ui-state-default) tr td input[type=text]
{
    border: 1px solid #8A8575;
    height: 20px;
    width: 200px;
}


input:focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}


/* Begin: Tables */

table.table
{
    border: 1px solid #dbddff;
    border-bottom: 1px solid #dbddff;
    border-collapse: collapse;
    font-family: Tahoma, Arial, sans-serif;
    color: black;
    width: 100%;
}


table.table th
{
    background-position: 1px 1px;
    background-repeat: repeat-x;
    background-color: #ffffff;
    font-size: 100%;
    text-align: center;
    line-height: 1.3em;
    color: #666666;
    border-right: 1px solid #dbddff;
    border-bottom: 1px solid #dbddff;
}

table.table td
{
    border-bottom: 1px dotted #dadada;
    font-size: 11pt;
    padding: 5px 10px;

}
fieldset table tr td {
    border-bottom: 1px dotted #DADADA;
}


th table tr td
{
    background-position: 1px 1px;
    background-repeat: repeat-x;
    background-color: #ffffff;
    font-size: 100%;
    text-align: center;
    line-height: 1.3em;
    color: #666666;
    border-right: 1px solid #dbddff;
}

table tr td table
{
    font-size: 100%;
    border-collapse: collapse;
    border: 0px solid #DBDDFF;
}

.display_table tr th
{
    background:#9393FF;
    color:#FFFFFF; 
    font-weight:bold
}

table tr td table tr td
{
    font-size: 100%;
    border-collapse: collapse;
    border: 0px solid #DBDDFF;
    border-bottom: 0px dotted #dadada;
    padding: 10px 10px;
}

td table tr td table tr td
{
    font-size: 100%;
    border-collapse: collapse;
    border: 0px solid #DBDDFF;
    border-bottom: 0px dotted #dadada;
    padding: 1px;
}
table.display_table
{
    width: 100%;
}

.display_table tr:nth-child(even) {background: #D3D6FF}
.display_table tr:nth-child(odd) {background-color: #E2E4FF; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC;}


.display DTTT_selectable tbody tr:nth-child(even) {border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC;}
.display DTTT_selectable tbody tr:nth-child(even) {background-color: #E2E4FF; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC;}

.display_table thead th
{
    background-color: #E78F08;
    font-size: 100%;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    border-right: 1px dotted #dadada;
}

.display_table tfoot th
{
    background-color: #DBDDFF;
    font-size: 100%;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    border-right: 1px dotted #dadada;
}

.display_table tr td
{
    border-left: 1px dotted #dadada;
}

.display_table tr td table tr td
{
    border-left: 1px dotted #dadada;
}

.display tr:nth-child(even) {background: #D3D6FF}
.display  tr:nth-child(odd) {background-color: #E2E4FF; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC;}


/*
tr:hover
{
        background-color: #fff;
}
*/

.float-left
{
    float:left;
}

.float-right
{ 
    float:right;
}
.fc {clear: both;}

#container
{
    float: left;
    font-size: 1.2em;
    margin-left: 20px;
}

#slideNotice
{
    display: none;
    width: 50%;
    height: 50px;
    background-color: gainsboro;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0px;
}

#slideNotice h3

{
    position: relative;
    color: black;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    top: 25%;

}

#text_center
{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}


ul.toolbox {
    width:100%;
    font: bold 11px arial;
}

ul.toolbox li {
    float:left;
    list-style: none;
}

ul.toolbox li a {
    background-color:#cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ECEDED url("images/box1.gif") repeat-x bottom center;
    border:1px solid #BABABA;
    padding:1px;
    margin:4px;
    width:150px;
    height:190px;
    float:left;
    color: #43484C;
    text-align: center;
    -moz-box-shadow: 0 0 2px #C8C8C8;
    -webkit-box-shadow: 0 0 2px #C8C8C8;
    box-shadow: 0 0 2px #C8C8C8;
}
ul.toolbox li a img {
    margin-bottom:20px;
    margin-top:55px;
}


#header_report
{
    width: 100%;
    text-align: center;

}

#float_right
{
    float: right;
}

#float_left
{
    float: left
}

#preloader {
    background: white;
    position:fixed;
    left:0px; 
    top:0px; 
    width:100%; 
    height:100%; 
    text-align:center;
    margin: auto;
    color:black;
}

.preloader {
    margin : 100px auto; 
    text-align: center
}

em 
{ 
    font-weight: bold; 
    padding-right: 1em; 
    vertical-align: top; 
    color: red;
    float: right;
}



/* picn table filtering hrer */
#quickfind {
    width:65%;
    border:1px solid #ccc;
}

#cleanfilters {
    margin-left:10px;
}

/* End Here */


#download-browser{ 
    width: 200px;
    height: 100px;
    text-align: center;
    margin: auto;
    cursor: hand;
    padding: 10px 10px;
    position: fixed;
    bottom: 10px;
    right: 80px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 2px #666;
    -moz-box-shadow: 0px 0px 2px #666;
    -webkit-box-shadow: 0px 0px 2px #666;
    -ms-box-shadow: 0px 0px 2px #666;
    -o-box-shadow: 0px 0px 2px #666;
}



/* Begin: Tables */

table.ui-state-default {
    border: 1px solid #DBDDFF;
    border-bottom: 1px solid #DBDDFF;
    border-collapse: collapse;
    font-family: Tahoma, Arial, sans-serif;
    min-width: 800px;
    font-size: 9pt;
}

table.ui-state-default thead tr th {
    padding-left: 5px;
    border-bottom: 1px solid black;
    text-align:center;
    background: url("../../jquery-ui/css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #F6F6F6;
    height: 25px;
    text-transform:capitalize;
    color: black;
}

table.ui-state-default tfoot tr th {
    padding: 3px 3px;
    background: url("../../jquery-ui/css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #F6F6F6;
    height: 15px;
}

table.ui-state-default tbody tr.hide-text{
    white-space:nowrap; 
    width:200px; 
    overflow:hidden; 
    text-overflow:ellipsis;
}

table.ui-state-default tbody tr td{
    border: 1px dotted #DADADA;
    font-size: 9pt;
    padding: 2px 10px;
    height: 20px;

}

table.ui-state-default tbody.addable tr td{
    border-bottom: 1px dotted #DADADA;
    font-size: 10pt;
    padding: 0px 10px;

}

table.ui-state-default thead tr th a:link{
    font-weight: bold;
    color: #1C94C4;
    text-decoration: none;
}

table.ui-state-default tbody tr td a:link{
    color: #666666;
}



table.ui-state-default tbody tr.even.DTTT_selected {
    background-color: #B0BED9;
}

table.ui-state-default tbody tr.odd.DTTT_selected {
    background-color: #B0BED9;
}

table.ui-state-default table tbody tr.DTTT_selectable {
    cursor: pointer;
}


.table-worp{overflow: auto; width: 100%;}





/* tables Filter */
table.ui-state-default thead tr .header {
    background-image: url(../jquerytablesorter/blue/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding-right: 20px;
    margin-left:10px;
    text-transform:capitalize;
}
table.ui-state-default thead tr .headerSortUp {
    background-image: url(../jquerytablesorter/blue/asc.gif);
}
table.ui-state-default thead tr .headerSortDown {
    background-image: url(../jquerytablesorter/blue/desc.gif);
}

div.dataTables_length {
    float: left;
    font-family: Arial;
    font-size: 12px;
    height: 25px;
    padding: 2px 10px;
    width: 150px;
    margin-top: 3px;
}

button.ui-widget-header {
    margin: 2px;
}

div.dataTables_info{ margin-top: 5px;}




/*Jquery Multi Select CSS*/
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

/*Jquery Multi Select Filtering CSS*/
.ui-multiselect-hasfilter ul { position:relative; top:2px }
.ui-multiselect-filter { float:left; margin-right:10px; font-size:11px }
.ui-multiselect-filter input { width:100px; font-size:10px; margin-left:5px; height:15px; padding:2px; border:1px solid #292929; -webkit-appearance:textfield; -webkit-box-sizing:content-box; }


input.text_field_display{display: none;}

.fancybox-loading {
    width: 44px;
    height: 44px;
    background: url('images/fancybox_loading.gif') center center no-repeat;
}

#ModalOverlay 
{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background:background;
    display: none;
    z-index: 50;
    background: url('images/spinner.gif') center center no-repeat;
}


label.error{color: red;}
.table-top{
    border: 1px solid #80FF00;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 6px;
    width: 350px;
    clear: both;
}

.table-header{
    text-align: center; 
    font-size: 14pt; 
    font-weight: bold; 
    width: 500px; 
    padding-bottom: 20px; 
    margin: auto; 
    position: absolute; 
    top: 80px; 
    left: 30%; 
    right: 50%; 
}





.ideal-form * {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 center transparent;
    border: 0 none;
    font-size: 100%;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

.thim-view{ height: 180px; width: 200px; font-size: 10pt; padding: 10px ;}
.thim-view img{ height: 150px; width: 180px; font-size: 10pt; padding: 10px 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);}
.thim-view img:hover{ box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);}

a.white{ color: white;}


.display_none{display: none;}

.BudgetConfarmation{ margin: 0 auto; text-align: center; color:#fff; font-size:14pt; height:20px; background-color: #307FC2; margin-bottom: 15px; padding:15px 15px;}


/* jQuery-Autocomplete-master */
.container { width: 800px; margin: 0 auto; }
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }





.center{text-align: center;}

/*
table:not([class^='datagrid']) {
    border-collapse: collapse;
    border: #DADADA;
    width: 850px;
    margin: auto;
}

table tr td{border-bottom: 1px dotted #DADADA;}

 table:not([class^='datagrid']) tr:nth-child(odd) { background: #99BBE8; opacity: .6; } */

div.datagrid-pager table tr:nth-child(odd) {
    background: none;
}


/*Ajax Loader*/
.load-s{
    background-image: url('../public/images/ajaxLoader.gif');
    background-repeat:no-repeat;
}

button{border: none; background-color: transparent;}


.datagrid-btable tbody tr td div.datagrid-cell div a{font-weight: bold;}
div.panel{margin: auto; background: white;}
div.easyui-panel{padding: 0px 10px; }
table.datagrid-btable tbody tr td div a{font-weight: bold;}

 .required:after { content:" *"; color:#FF0000; }

