@charset "utf-8";
/* CSS Document */

body{
	background-image:url(images/bg_adin.jpg);
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	margin: 0px;}
	
	
/*------------- Lpgin Page------------- */
	
.lo_he{
	background-image:url(images/log_bg.jpg); 
	background-repeat:no-repeat; 
	height:135px;
	} 
	
.lo_he2{
	background-image:url(images/log_bg2.jpg); 
	background-repeat:no-repeat; 
	height:156px;
	}
	
.lo_he2 div{ float:left; width:850px; height: auto; margin-bottom:10px }	
	
.lo_he2 div h1{font-size:16px; color:#FFF; margin:0px; width:750px}	
.lo_he2 div h2{font-size:13px; color:#FFF; margin:0px; width:750px}

.lo_he2 div ul{ float:left; display: block; margin-left:150px; }
.lo_he2 div li{font-size:12px; width:75px; float:left; height:70px; margin-top:5px; margin-left:15px; display: block; 
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 8, 1);
	-moz-box-shadow:    2px 2px 8px rgba(0, 0, 8, 1);
	box-shadow:         2px 2px 8px rgba(0, 0, 8, 1); text-align:center; border-radius: 3px 3px 3px 3px; }	
	
	
.li_retail span{margin-top:50px}	
.lo_he2 div ul li a{ padding-top:50px; width:70px; margin:3px;
	color:#ffff00;
	display: block;
	text-decoration: none;
	float: left;
}
.lo_he2 div ul a:hover{ background-image:url(images/opacity.png);}

.li_retail{background-image:url(images/retail_bg.png); background-repeat:no-repeat;}	
.li_rifand{background-image:url(images/refand_bg.png); background-repeat:no-repeat;}		
.li_pro{background-image:url(images/produc_bg.png); background-repeat:no-repeat; }	
.li_info{background-image:url(images/info_bg.png); background-repeat:no-repeat; background-position:top}	
.li_log{background-image:url(images/log_ho_bg.png); background-repeat:no-repeat; background-position:top}	




.logo{
	float:left; 
	width:109px; 
	height:106px; 
	background-image:url(images/logo.png); 
	background-position:center; 
	margin-left:15px; 
	margin-top:10px;
	}
	
.banner_text{ 
	float:left; 
	font-family:Arial; 
	font-size:45px; 
	color:#FFF;
	width:650px; 
	height:72px; 
	margin-top:30px; 
	margin-left:10px; 
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em
	} 
	
.log_bg{ 
	background-image:url(images/log_bg.png); 
	background-repeat:no-repeat; 
	background-position:center; 
	width:991px; height:462px;
	}
	
.log_title{
	margin-top: 117px; 
	margin-left:193px; 
	font-family:Arial; 
	font-size:26px; 
	font-weight:bold; 
	color:#171717; margin-bottom:20px;
	}
	
.mass{
	margin-top: 5px; 
	margin-left:160px; 
	font-family:Arial; 
	font-size:14px; 
	font-weight:bold; 
	color:#fff; 
	background-color:#F00; 
	width:200px; 
	padding-left:10px; 
	margin-bottom:10px; 
	height:20px;
	}
	
#m_div{
	float:left; 
	width:285px; 
	height:120px; 
	margin-left:190px; 
	margin-top:10px;
	}

.E_text{ 
	float:left; 
	width:61px; 
	height:18px; 
	margin-left:27px; 
	font-family:Arial; 
	font-size:14px; 
	font-weight:bold; 
	color:#FFF; 
	padding-top:3px;}
	
.E_fild{ 
	float:left; 
	width:190px; 
	height:25px; 
	font-family:Arial; 
	font-size:12px;  
	color:#000; 
	text-align:left ; 
	margin-left:0px; b}

.E_pa_tex{ 
	float:left;
	width:88px; 
	height:18px;  
	font-family:Arial; 
	font-size:14px; 
	font-weight:bold; 
	color:#FFF; 
	padding-top:13px;}
	
.E_pas_fild{ 
	float:left; 
	width:190px; 
	height:25px; 
	font-family:Arial; 
	font-size:12px;  
	color:#000; 
	text-align:left ; 
	padding-top:10px;}

.log{
	margin-top:10px; 
	float:right; 
	margin-right:5px}

.fild_a{
	width: 195px;
	background: transparent url('images/fild1.png ') no-repeat;
	color : #000;
	height:26px;
	border:0;
	padding:1px 5px;
	margin-bottom:0px;}
	
	
.fild_b{
	width: 150px;
	background: transparent url('images/fild2.png ') no-repeat;
	color : #000;
	height:26px;
	border:0;
	padding:1px 5px;
	margin-bottom:0px;}	
	

.top_ad_ri{margin-top:30px; margin-right:10px; float:right; color:#FFF;}
.top_lo_out_ri{margin-top:0px; margin-right:10px; float:right; color:#FFF;}
.title_nav_bar{ width:98%; padding:5px; margin:10px;}
.title_nav_bar h5{font-size:16px; font-weight:bold; color:#939292; opacity:.3; margin:8px 0 0 15px; }
.title_nav_bar h6{font-size:14px; font-weight:bold; color:#939292; opacity:.8; margin:5px 0 0 15px; }
/*------------- Lpgin Page------------- */

.body2{background-image:url(images/top_bg.png); background-repeat:repeat-x; }

/*------------- Menu------------- */
#me_Left{background-image:url(images/menu_left.png); background-repeat:no-repeat; width:16px; height:47px; float:left;} 
#me_Right{background-image:url(images/menu_right.png); background-repeat:no-repeat; width:20px; height:47px; float:left;}
#me_M{background-image:url(images/menu_med.png); background-repeat:repeat-x; width:954px; height:37px; float:left; color:#FFF; font-size:18px; padding-top:10px;}
/*------------- Menu end ------------- */
/*------Grid Table Design CSS-----*/
.gridTable {
text-transform:capitalize;
padding:5px 30px 30px 30px;
border:1px solid #2C2C2C;
}
.gridTable th{ 
	background-color:#504e4e; 
	border-right: 1px solid #272727; 
	height:28px; 
	font-size:12px; font-weight:normal; 
	text-align:center; 
	color:#FFF; 
	padding-top:3px 
	}

.gridTable td{ 
	border-bottom: 1px solid #4d4c4c; 
	height:auto; 
	text-align:center; 
	color:#989797; 
	font-size:12px; 
	padding-top:2px; 
	border-right: 
	3px solid #272727; }

.gridTable td img{ padding:3px; border:0px solid #5C5C5C; }

.gridTable tfoot td{ height:30px; text-align:left; padding-left:10px; color:#FFF; line-height:20px; background-color:#515151; }

.even{ background-color:#2f2f2f; }
/*--------End Grid Table -----*/

.sp{margin-right:10px;}
/*------------- Edit /delete Button------------- */
a.button1 {
  display:block;
  width:50px; height:18px; text-decoration:none;
  line-height:18px;
  text-align:center;
  background-color:#5a5959; margin-left:30px; color:#d8d8d8; float:left; font-size:11px; font-weight:normal;
-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 8, 1);
-moz-box-shadow:    2px 2px 8px rgba(0, 0, 8, 1);
box-shadow:         2px 2px 8px rgba(0, 0, 8, 1);
}

a.button1:hover {
  background-color:#0c0c0c; color:#09F;
}
/*------------- end------------- */

/*------------- footer------------- */

#foot{ width:900px;}
.foo_right{float:right;}
.foo_left{float:left; font-size:10px; color:#FFF;}
/*------------- end------------- */


/*------------- edit------------- */


.edi_top{ height:20px; width:903px; background-color:#504e4e; padding: 5px 10px; color:#FFF; font-size:13px;}

a.arrow1 {
  display:block;
  width:55px; 
  height:18px; 
  text-decoration:none; 
  background-image:url(images/arow.png); 
  background-repeat:no-repeat; 
  background-position:right;
  line-height:18px;
  text-align:left; 
  float:left; 
  margin-right:5px; 
  color:#a4a3a3;
  
}
a.arrow1:hover {
color:#09F;
}

a.link1 { 
  text-decoration:none;  
  color:#f0ff00;
  
}
a.link1:hover {
	color:#3883b8;
}






.edi_bg{background-image:url(images/edit_icon.png); background-repeat:no-repeat; width:139px; height:223px;}

.edi_nophoto{background-image:url(images/no-photo.png); background-repeat:no-repeat; width:160px; height:110px;}
.edi_w{ font-size:14px; color:#CCC; font-weight:bold; text-align:right;}
.tab_mar{margin-top:15px; margin-left:15px;}

.body_color{
background-color:rgba(0, 0, 0, 0.10)}

/*------------- retailpage------------- */
#ret_1div{width:732px; height:70px; background-color:#6A6A6A;  border-radius: 8px 8px 8px 8px; margin-top:8px; }

.sp1{float:left; width:200px; height:65px; margin-top:10px; margin-left:10px; }

#ret_1div .sp1 h1{float:left; margin:0px; font-size:14px; color:#FFF;}
#ret_1div .sp1 h2{float:left; margin:0px; font-size:14px; color:#000;}


.sp2{float:left; width:200px; height:50px; margin-top:20px; margin-left:300px;  }

#ret_1div .sp2 h1{float:left; margin:4px; font-size:14px; color:#FFF;}
#ret_1div .sp2 h2{float:left; margin:0px; font-size:14px; color:#000;}
#ret_1div .sp2 h3{float:left; margin:0px; font-size:14px; color:#000; margin-left:10px;}


.sp3{float:left; width:400px; height:50px; margin-top:5px; margin-left:100px;  }


#ret_1div .sp3 p{float:left; margin-top:0px; font-size:12px; color:#000; width:150px; margin-left:200px; line-height:30px}

.t_fild1{font-size:16px; width:70px; height:20px;}

#item_bar{ 
	float:left; 
	width:730px;
	height:auto; margin:3px; 
	background-color:#686867; 
	border-radius: 8px 8px 8px 8px; 
}

#item_bar ul{ float:left; display: block; margin:0px; }
#item_bar ul li{
	font-size:12px; 
	width:70px; 
	float:left; 
	height:70px; 
	margin-top:10px;
	margin-left:20px; 
	margin-bottom:10px;  
	display: block; 
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 8, 1);
	-moz-box-shadow:    2px 2px 8px rgba(0, 0, 8, 1);
	box-shadow:         2px 2px 8px rgba(0, 0, 8, 1);
	text-align:center; 
	border-radius: 3px 3px 3px 3px; }	



#item_bar ul li a{ width:70px; margin:0px;
	color:#ffff00;
	display: block;
	text-decoration: none;
	float: left;
}
#item_bar ul li a:hover{ 
	-webkit-box-shadow: 2px 2px 8px rgba(0, 8, 0, 1);
	-moz-box-shadow:    2px 2px 8px rgba(0, 8, 0, 1);
	box-shadow:         2px 2px 8px rgba(0, 8, 0, 1);  
	}

#it_div{
	float:left; 
	width:730px;
	height:auto; margin:3px; 
	background-color:#686867; 
	border-radius: 8px 8px 8px 8px; }

.item_list{ 
	text-transform:capitalize;
	padding:5px 30px 30px 30px; margin:0px;
	}



.item_list th{ 
	background-color:#434242; 
	border-bottom: 1px solid #000; border-right: 1px solid #000;
	height:28px; 
	font-size:14px; 
	text-align:center; 
	color:#fdff45; 
	padding-top:3px 
	}

.item_list td{ 
	border-bottom: 1px solid #000; border-right: 1px solid #000;
	height:auto; 
	text-align:center; 
	color:#fff; 
	font-size:14px; 
	padding-top:2px; 
	 }

.item_list td img{ padding:3px; border-bottom: 1px solid #000; border-right: 1px solid #000; }

.item_list tfoot td{  background-color:#555554; border:none; }

.item_list tfoot td h1{width:200px; float:left;  margin-left:8px; margin-top:0px; font-size:14px; color:#FFF; text-align:left;}
.item_list tfoot td h2{width:150px; float:left; margin-left:40px; margin-top:0px; font-size:14px; color:#FFF; text-align:left; }
.item_list tfoot td h3{width:100px;float:left; margin-left:120px; margin-top:0px; font-size:14px; color:#FFF; text-align:left;}
.item_list tfoot td h4{ float:right; margin:0px; font-size:14px; color:#FFF; text-align:left;}
.item_list tfoot td h5{ float:left; width:80px; padding:0px; margin-left:0px; margin-top:0px;}
.item_list tfoot td h6{ float:left; font-size:24px; color:#b4fc9b; width:200px; padding:0px; margin-left:130px; margin-top:0px; }
.item_list tfoot td h7{ float:left; font-size:24px; color:#F00;  width:80px; margin-left:150px; margin-top:0px; }

.pri_pp{ }


.ama{width:60px; height:18px; font-size:16px; color:# 006; border: 1px solid #000; font-weight:bold; }




.cal_but{  
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 8, 1);
	-moz-box-shadow:    2px 2px 8px rgba(0, 0, 8, 1);
	box-shadow:         2px 2px 8px rgba(0, 0, 8, 1); }
	
	
.cal_but ul{ float:left; display: block; margin:0px; padding-left:10px  ;}
.cal_but ul li{ 
	font-size:12px; 
	width:50px; 
	float:left; 
	height:50px; 
	margin-top:5px; margin-left:20px; margin-bottom:5px;  
	display: block; 	
	text-align:center;  }
	
	
.cal_but ul li  a{ 
	display:inline-block;
	padding: 0px;
	width:50px; /* horizontal diameter of spotlight */
	height:50px; /* vertical diameter of spotlight */
	text-decoration: none;
	color: black;
	margin: 0 auto;
	overflow:hidden;
	-moz-transition: all 0.5s ease-in-out; /* CSS3 transition to animate all A properties */
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.cal_but ul li  a:hover{ 
	width:50px; 
	height:50px; 
	background-image:url(images/num_shad.png);
	background-repeat:no-repeat;   
}

.cal_dig{ 
	height:30px; 
	width:90%; 
	background-color:#CCC; 
	color:#000; 
	font-size:28px; 
	font-weight:bold; 
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 8, 1);
	-moz-box-shadow:    2px 2px 8px rgba(0, 0, 8, 1);
	box-shadow:         2px 2px 8px rgba(0, 0, 8, 1); 
	text-align:center; 
	border-radius: 3px 3px 3px 3px; 
	text-align:left; 
	padding-left:5px;
	margin:5px; 
	line-height:25px;
	}
	
.cash_fild{width:80px; height:35px; font-size:30px; color:# 006; border: 1px solid #000; font-weight:bold; }	
.cas_f_w{}	
.cas_f_w h1{margin:0px; font-size:16px; color:#8deeff;}	

#pro_up{width: 100%; height:100px; margin:0px;}
#pro_up1{width: 100%; height: auto; margin:0px;}

#pro_up h1{float:left; font-size:14px; margin-left:10px; margin-top:0px; padding:0px; line-height:20px;}
#pro_up h2{float:right; font-size:14px; margin-right:10px; margin-top:0px; padding:0px; line-height:20px;}

#pro_up1 p{ color:#FFF; font-size:14px; margin:6px; padding-left:30px; }
#pro_up1 h3{ color:#CCC; font-size:12px; text-align:center;}

.pro_edi{color:#FFF; font-size:12px;}
.starSign{color:#F00}

.wr_head{color:#09F; font-size:16px; font-weight:bold;}
.wr_normal{color:#fff; font-size:12px; font-weight: normal;}

a.url1 { text-decoration:underline; color:#0FF;
  }
a.url1:hover {
	color:#3883b8; text-decoration:none;
}

