@charset "utf-8";
/* CSS Document */

.body1{
	background-image:url(images/log_in_bg.jpg); 
	font-family:Arial; 
	font-size:12px; 
	color:#000; margin:0px;}

body{ 
	background-image:url(images/bg.jpg); 
	font-family:Arial; 
	font-size:12px; 
	color:#000; background-attachment:fixed; 
	font-weight:normal; margin-top:15px;}


.he{padding-left:190px}
#footer{background-image:url(images/footer.png); background-repeat:repeat-x; height:50px; margin-top:40px;}
.foot_sp{width:980px; height:39px;}
.foot_sp h1{float:left; width:auto; font-size:11px; color:#000; padding:5px 0px 0px 0px; margin-left:100px; font-weight:normal;}
.foot_sp h2{float:right; width:auto; font-size:10px; color:#000; padding:5px 0px 0px 0px; margin-right:100px; font-weight:normal;}


#L_panal{ 
	width:621px; 
	height:372px; 
	background-image:url(images/ad_palel_bg.png); 
	background-repeat:no-repeat; 
	background-position:center; margin-top:30px;
	
	}
	
#L_panal em{
	float:left; 
	font-size:28px; color:#FFF; 
	width:327px; 
	height:15px ; padding-top:10px; margin-top:20px; margin-bottom:0px; 
	 }	
	
	
#L_panal span h1{
	float:left; 
	font-size:16px; color:#FF0; 
	background-image:url(images/messag_bg.png); 
	background-repeat:no-repeat; 
	width:327px; 
	height:40px ; padding-top:2px; margin-bottom:0px; 
	 }	
	
#L_panal span{
	float:left; 
	width:322px; 
	height:50px ; margin:96px 0px 0px 13px; 
	}	
	
#L_panal table{ width:309px; height:134px; margin:5px 0px 0px 40px; float:left; }

.submitbutton { width:309px; height:134px; margin:5px 0px 0px 40px; float:left; }

.inputField{
	width: 190px;
	background: transparent url('images/big_field.png ') no-repeat;
	color : #000;
	height:30px;
	border:0;
	padding:1px 15px 1px 10px;
	margin-bottom:0px; float:right; 
	font-size:14px;
	}
	
.fieldAdd{
	width: 168px;
	background: transparent url('images/big_field2.png ') no-repeat;
	color : #000;
	height:27px;
	border:0;
	padding:0px 5px;
	margin-bottom:0px; float:right; font-size:14px ; }	

	
#head_s{width: auto; height:89px; margin-top: 20px; color:#FFFFFF;}

#head_s h2{ width: auto; height:40px; margin:0px; padding:0px; float:left; font-size:35px; margin-top:55px; margin-left:10px;} 

.main_head{ color:#FFFFFF;}
.main_head span{ width:250px; float:right; height:100px}

.main_head h1{ width:86px; height:89px; margin:0px; padding:0px; float:left; padding-left:30px;}
.main_head h2{
	width: auto; 
	height:60px; 
	margin:0px;
	padding:0px; 
	float:left; 
	font-size:32px; 
	margin-top:15px; 
	margin-left:10px; 
	text-shadow: black 0.1em 0.1em 0.2em}

.main_head span h3{ width:auto; height:15px; margin:10px 0px 0px 0px; padding:0px; float:left; font-size:12px; width:200px;}
.main_head span h4{ width:auto; height:15px; margin:20px 0px 0px 0px; padding:0px; float:left; font-size:13px; width:200px;}

.me_bg1{background-image:url(images/left_menu_bg.png); background-repeat:no-repeat; width:12px; height:63px;}
.me_bg2{background-image:url(images/menu_bg.png); background-repeat:repeat-x;}
.me_bg3{background-image:url(images/right_menu_bg.png); background-repeat:no-repeat; width:12px; height:63px;}
.ad_color{  background-color:#FFFFFF;}

.title_nav_bar{ width:90%; padding:5px; margin:10px;}
.title_nav_bar h1{font-size:16px; font-weight:bold; color:#808280;  margin:8px 0 0 15px; }
.title_nav_bar h2{font-size:14px; font-weight:bold; color:#000; opacity:.8; margin:5px 0 0 15px; }

a.link_button{
  width:auto; 
  text-decoration:none;
  line-height:24px;
  text-align:center;
  padding:5px 10px 5px 10px ;
  background-color:#009933;
  opacity:0.8; 
  margin-left:5px; 
  margin-bottom:10px; 
  color:#000; 
  font-size:14px; 
  font-weight:bold;
-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 8, 1);
-moz-box-shadow:    2px 2px 8px rgba(0, 0, 8, 1);
box-shadow:         2px 2px 8px rgba(0, 0, 8, 1);
}

a.link_button:hover {
  background-color:#009933; color:#990000;
}

/*------Grid Table Design CSS-----*/
.listTab {
text-transform:capitalize;
padding:5px 10px 10px 10px;
border:1px solid #8a8a8a;
font-family:SolaimanLipi;
}
.listTab th{ 
	background-color:#6a93bb; 
	border-right: 1px solid #fff; 
	height:28px; 
	font-size:12px; font-weight:bold; 
	text-align:center; 
	color:#FFF; 
	padding-top:3px 
	}

.listTab td{ 
	border-bottom: 1px solid #fff; 
	height:28px; 
	color:#000; 
	font-size:12px; 
	padding-top:2px; 
	border-right: 
	1px solid #fff; }

.listTab td img{ padding:3px; border:0px solid #5C5C5C; }

.listTab tfoot td{ height:30px; text-align:center;  color:#FFF; line-height:20px; background-color:#6d849b; }
.odd{ background-color:#c3cdd7;}
.even{ background-color:#e0dfe0; }
.arrow_sign{ background-image:url(images/arrow_sign.jpg); }
/*--------End Grid Table -----*/

/*------------- Edit /delete Button------------- */
a.button1 {
  display:block;
  width:50px; height:18px; text-decoration:none;
  line-height:18px;
  text-align:center;
  background-color:#537290; margin-left:30px; color:#fff; float:left; font-size:11px; font-weight:normal;
-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 8, 1);
-moz-box-shadow:    2px 2px 8px rgba(0, 0, 8, 1);
box-shadow:         2px 2px 8px rgba(0, 0, 8, 1);
}

a.button1:hover {
  background-color:#1c3954; color:#09F;
}
.boder_Table {
	padding:5px 0px 0px 30px;
	border:1px solid #8a8a8a; color:#000;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 8, 1);
-moz-box-shadow:    2px 2px 8px rgba(0, 0, 8, 1);
box-shadow:         2px 2px 8px rgba(0, 0, 8, 1);}
	
.edi_nophoto{
	background-image:url(images/no-photo.png); 
	background-repeat:no-repeat;
	width:100px; 
	height:97px; 
	background-position:left
	}
.edi_bg{
	background-image:url(images/edit_icon.png); 
	background-repeat:no-repeat; 
	width:139px; 
	height:223px; 
	background-position:center;
	}



a.url {
  text-decoration:none;
  line-height:18px; color: #FF0;

}

a.url:hover {
  background-color:#1c3954; color:#09F;
}


a.url_pass {
  text-decoration:none;
  line-height:14px; 
  color:#00CC33;
  font-size:10px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  text-transform:uppercase;

}

a.url_pass:hover {
  color:#09F;
}

.msg {
	font:14px;
	background:#FFFF00;
	color:#FF0000;
	line-height:28px;
	text-align:center;
	font-weight:bold;
}

.bng_text {
	
	padding:2px;
	font-size:16px;
}

